{% block form_row %}
    <div class="form_row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>
{% endblock form_row %}

{% block text_widget %}
    <div class="text_widget">
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% macro displayUserRoles(items) %}
    {% import _self as fields %}

    {% if items|length %}
        <table>
        {% for item in items %}
            <tr>
                <td>
                    {{ item.roleId }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endmacro %}
