{% block form_row %}
    <div class="form_row">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>
{% endblock form_row %}

{% block text_widget %}
    <div class="text_widget">
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% macro displayUserRoles(items) %}
    {% import _self as fields %}
    {% if items|length %}
        {% for section in items %}
            {{ section.name }}
            <table>
                <tr>
                    {% for role in section.roles %}
                        {% set checked = '' %}
                        {% if role.set == 1 %}
                            {% set checked = 'checked' %}
                        {% endif %}
                        <td>
                            <input type="checkbox" name="userRoles[]" value="{{ role.id }}" {{ checked }} />
                        </td>
                        <td>
                            {{ role.name }}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}
    {% endif %}
{% endmacro %}
