{#{% use 'admin/blocks.html.twig' %}#}

{% extends 'AdminBundle:default:index.html.twig' %}

{% import 'admin/fields.html.twig' as fields %}

{% form_theme form 'admin/fields.html.twig' %}

{% block menu_swd_admin_user %}active{% endblock %}
{% block menu_swd_admin_user_list %}active{% endblock %}

{% block page_title %}Users{% endblock %}

{% block body %}

    <form action="{{ path('swd_admin_user', {'id': id}) }}" method="post" id="userForm">
        <div class="card">
            <div>
                {{ form_errors(form) }}
            </div>

            <script type="text/javascript">
                $(function () {
                    $('#tabs').w2tabs({
                        name: 'tabs',
                        active: 'userTab',
                        tabs: [
                            { id: 'userTab', text: 'User' },
                            { id: 'roleTab', text: 'Roles' }
                        ],
                        onClick: function (event) {
                            console.log(event);
                            console.log(event.tab.id);
                            $('#userTab').css('display', 'none');
                            $('#roleTab').css('display', 'none');
                            $('#' + event.tab.id).css('display', 'block');
                        }
                    });
                });
            </script>

            <div class="header">
                <h2>User Form</h2>
            </div>
            <div class="body">
                <div id="tabs" style="width: 100%;"></div>
                <div id="userTab" style="display: block;">
                    {{ form_row(form.username, {'attr': {'readonly': readonly}}) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.password) }}
                </div>
                <div id="roleTab" style="display: none;">
                    {{ fields.displayUserRoles(roles) }}
                </div>
                {#{{ form_row(form.save) }}#}
                {{ form_row(form.id) }}
                {{ form_row(form._token) }}
                <div class="w2ui-buttons">
                    <button class="w2ui-btn" name="reset">Reset</button>
                    <button class="w2ui-btn" name="save">Save</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
